<!-- pagination -->
<nav th:fragment="setParams(collection, urlPart)" aria-label="Page navigation" th:if="${collection.totalPages gt 0}"
     xmlns:th="http://www.thymeleaf.org">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${collection.number eq 0} ? 'disabled'">
            <a th:href="@{/{urlPart}(page=${collection.number lt 2 ? 1 : collection.number},urlPart=${#strings.toLowerCase(urlPart)})}"
               class="page-link" aria-label="Previous">
                <span aria-hidden="true">«</span><span class="sr-only">Previous</span></a>
        </li>
        <li class="page-item"
            th:each="i : ${#numbers.sequence( 1, collection.totalPages > 10 + collection.number ? collection.number + 10 : collection.totalPages, 1)}"
            th:classappend="${i eq collection.number + 1} ? 'active'">
            <a class="page-link" th:href="@{/{urlPart}(page=${i},urlPart=${#strings.toLowerCase(urlPart)})}"
               th:text="${i}"
               th:title="${'Page '+ i}"
            ></a>
        </li>
        <li class="page-item" th:if="${collection.number + 10 < collection.totalPages}">
            <a href="#" class="page-link">
                <span width="20" height="20"></span>
            </a>
        </li>
        <li class="page-item" th:classappend="${collection.number + 1 eq collection.totalPages} ? 'disabled'">
            <a th:href="@{/{urlPart}(page=${collection.number + 2}, urlPart=${#strings.toLowerCase(urlPart)})}"
               class="page-link" aria-label="Next">
                <span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
    </ul>
</nav>